#content-who
{
	margin: 40px 100px 10px 100px;
}

#content-who h1
{
	font-size: 30px;
	margin: 0px 0px 40px 0px !important;
	padding: 0px 0px 0px 15px !important;
}

#content-who-text-wrapper
{
	gap: 20px;
	display: flex;
	flex-direction: column;
}

#content-who-p-wrapper p
{
	font-size: 18px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
}

#content-who-p-wrapper h3
{
	margin: 0px 0px 15px 0px !important;
	padding: 0px;
}

#content-who article
{
	display: flex;
	height: fit-content;
	flex-direction: row;
	gap: 50px;
	padding: 50px;
	color: white;
	background-color: var(--content-color-dark-transparent);
	border-radius: 5px;
}

#content-who-img-wrapper
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 600px;
}

#content-who-img-wrapper img
{
	width: 600px;
}

hr
{
	border: 1px solid var(--content-color-orange);
	margin: 5px 0px 10px 0px;
	width: 100%;
}