footer .wrapper .decoration-image {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 250px;
	z-index: inherit;
}

footer
{
	opacity: 0;
	transition: opacity 0.2s;
	z-index: 10;
	user-select: none;
	pointer-events: none;
}

footer.active
{
	opacity: 1;
}

footer.inactive
{
	opacity: 0;
}

footer.active a
{
	pointer-events: auto;
}

footer.inactive a
{
	pointer-events: none;
}

.footer-contact-item
{
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer .wrapper
{
	position: fixed;
	width: 100%;
	bottom: 0px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;

	color: white;
	background: rgb(24, 24, 24);
	border-top: 2px solid var(--content-color-orange);
}

footer .wrapper .contact
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;

	gap: 30px;
}

footer .wrapper .contact a {
	position: relative;
	color: white;
	text-decoration: none;
	font-style: italic;
	font-size: 11px;
	margin-left: 24px;
}

footer .wrapper .contact a::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 20;

	width: 16px;
	height: 16px;
	left: -24px;
}

footer .wrapper .contact a.tag::before {
	background: url("../images/icons/electric.png");
	background-size: 100%;
}

footer .wrapper .contact a.phone::before {
	background: url("../images/icons/phone.png");
	background-size: 100%;
}

footer .wrapper .contact a.mail::before {
	background: url("../images/icons/email.png");
	background-size: 100%;
}

footer .wrapper .contact a.location::before {
	background: url("../images/icons/location.png");
	background-size: 100%;
}

footer .wrapper .logo
{
	height: 60px;
	margin: 10px;
}

footer .distancer
{
	position: static;
	width: 100%;
}

footer .return-to-top
{
	pointer-events: auto;
	position: fixed;
	bottom: 80px;
	right: 0px;
	margin: 20px;
	width: 60px;
	height: 60px;
	background-color: var(--content-color-dark);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	opacity: 0.5;
	transform: scale(0.8);
	
	transition: all 0.2s;
}

footer.inactive .return-to-top
{
	opacity: 0;
	transform: translate(80px, 0px);
}

footer .return-to-top img
{
	display: block;
	margin: auto;
	width: 50%;
	height: 50%;
	transition: all 0.2s;
}

@media (hover: hover) {
	footer .wrapper .contact a:hover {
		color: var(--content-color-yellow);
	}

	footer.active .return-to-top:hover
	{
		opacity: 1;
		transform: scale(1) translate(0px, 0px);
	}

	footer .return-to-top:hover img
	{
		width: 60%;
		height: 60%;
	}
}