header
{
	z-index: 1;
	position: absolute;
	width: 100%;
	background: rgb(24, 24, 24);
	display: flex;
	flex-direction: row;
	flex: flex-grow;
	justify-content: center;
	/*background: linear-gradient(0deg, rgba(208,208,208,1) 0%, rgba(240,240,240,1) 10%, rgba(255,255,255,1) 15%);*/
}

#header-background
{
	position: absolute;
	height: 100%;
	right: 0px;
}

#header-background img
{
	height: 350px;
	z-index: 5;
}

#header-logo-wrapper
{
	z-index: 1;
	width: 80px;
	height: 80px;
	margin: 10px;
	/*background-color: red;*/
}

#header-logo-circle-wrapper
{
	position: absolute;
	z-index: -2;
}

#header-logo-circle
{
	background: rgb(24, 24, 24);
	opacity: 100%;
	width: 150px;
	height: 150px;
	position: relative;
	left: -35px;
	top: -35px;
	border-radius: 75px;
}

#header-logo-box-wrapper
{
	position: absolute;
	z-index: -1;
}

#header-logo-box
{
	background: rgb(20, 20, 20);
	opacity: 90%;
	width: 90px;
	height: 90px;
	position: relative;
	left: -5px;
	top: -5px;
	border-radius: 45px;
	box-shadow: 0px 0px 20px red;
}

#header-logo-wrapper img 
{
	width: 80px;
	height: 80px;
}

#nav-wrapper
{
	margin-left: 15px;
	padding: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav-separator
{
	font-size: 20px;
	color: gray;
	margin: 0px;
	padding: 0px;
	color: white;
}

.nav-header
{
	flex: flex-grow;
	margin: 5px 30px 5px 30px;
	font-size: 15px;
	color: white;
}

.nav-header a
{
	color: white;
	text-decoration: none;
}

.nav-header:hover
{
	transform: translate(0px, -3px);
	transform: scale(107%);
}