:root
{
	--content-color-dark: rgb(20, 20, 20);
}

#page-background
{
	z-index: -10;
	top: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#page-background img
{
	height: 100%;
	position: fixed;
}

body
{
	margin: 0px;
	font-family: sans-serif;
}

#content
{
	width: 100%;
	min-height: 120%;
}

#content-wrapper
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content-slide
{
	opacity: 1;
	transition: opacity 0.2s;
	transition-delay: display 0.2s;
}

.content-slide-text
{
	padding: 50px;
	position: absolute;
	width: 1280px;
	height: 720px;
	
	color: white;
}

.content-slide-header
{
	padding: 10px 50px 10px 15px;
	width: fit-content;
	font-size: 30px;
	background: var(--content-color-dark);
}

#content-slides
{
	width: 1280px;
	height: 720px;
	overflow: hidden;
	margin: auto;
	user-select: none;
}

#content-slides-background
{
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 720px;
	background: var(--content-color-dark);
	opacity: 0.6;
}

#content-slides-buttons
{
	opacity: 0.95;
	width: 100%;
	height: 100px;
	background-color: var(--content-color-dark);
	z-index: 3;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#content-slides-buttons .element
{
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: #ff5923;
	transition: all 0.2s;
}

#content-slides-buttons .inactive:hover
{
	transform: scale(1.3);
}

#content-slides-buttons .active
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #fff601;
}

#content-slides-buttons .inactive
{
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: #ff5923;
}

#content-slides-transition div
{
	height: 100%;
	width: 33.4%;
	background: var(--content-color-dark);
	transition: transform 0.33s, opacity 0.33s;
}

#content-slides-transition
{
	user-select: none;
	pointer-events: none;
	z-index: 3;
	position: absolute;
	width: 1280px;
	height: 720px;
	display: flex;
	flex-direction: row;
}

#content-slides-transition .active
{
	transform: translate(0px, 0px);
	opacity: 1;
}

#content-slides-transition .inactive
{
	transform: translate(100px, 100px);
	opacity: 0;
}

#content-slides-controls
{
	z-index: 2;
	width: 1280px;
	height: 720px;
	position: absolute;
}

#content-slides-next
{
	user-select: auto;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 20%;
	height: 100%;
	opacity: 0;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,89,35,0.5) 100%);
	transition: all 0.2s;
}

#content-slides-next:hover
{
	opacity: 1;
}

#content-slides-previous
{
	user-select: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20%;
	height: 100%;
	opacity: 0;
	background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,89,35,0.5) 100%);
	transition: all 0.2s;
}

#content-slides-previous:hover
{
	opacity: 1;
}

#content-showcase
{
	user-select: none;
	pointer-events: none;
	padding: 20px;
	max-width: 100%;
	height: fit-content;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	overflow: hidden;
}

#content-showcase-background
{
	z-index: -1;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.8;
	background-color: var(--content-color-dark);
}

.content-showcase.active
{
	opacity: 1;
	transform: translate(0px, 0px);
}

.content-showcase.active li
{
	opacity: 1;
	transform: translate(0px, 0px);
}

.content-showcase.inactive li
{
	opacity: 0;
	transform: translate(-50px, 0px);
}

.content-showcase.inactive
{
	opacity: 0;
	transform: translate(0px, 20px);
}

.content-showcase
{
	border-radius: 20px;
	text-align: justify;
	width: 250px;
	min-height: 350px;
	padding: 25px 13px 20px 13px;
	background-color: var(--content-color-dark);
	opacity: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: all 0.5s ease;
	transition-delay: attr('data-index', s);
}

.content-showcase-image-wrapper
{
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
}

.content-showcase-image-wrapper img
{
	width: 90%;
	height: 90%;
}

.content-showcase h1
{
	text-align: center;
	color: white;
	font-size: 24px;
	margin: 0px;
}

.content-showcase ul
{
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: flex-start;
	flex-direction: column;
	padding-left: 110px;
}

.content-showcase li
{
	color: lightgrey;
	font-style: italic;
	font-size: 20px;
	line-height: 30px;
	margin: 0px;
	transition: all 0.4s;
	transition-delay: 0.2s;
	list-style-image: url('../images/showcase/check.gif');
	list-style: none;
}

.content-showcase li:before
{
	display: block;
	position: absolute;
	left: -25px;
	top: 7px;
	content: '';
	width: 13px;
	height: 13px;
	list-style: none;
	background-image: url("../images/showcase/check.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.content-showcase li img
{
	display: none;
	position: absolute;
	width: 17px;
	height: 17px;
	margin: 7px 0px 0px 15px;
}

.content-showcase p
{
	text-align: center;
	color: lightgrey;
	font-style: italic;
	font-size: 20px;
	line-height: 35px;
	padding: 10px 30px 0px 30px;
	margin: 0px;
}