#page-background
{
	z-index: -10;
	top: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
#page-background img
{
	height: 100%;
	position: sticky;
}

body
{
	margin: 0px;
	font-family: sans-serif;
}

#content
{
	width: 100%;
	min-height: 120%;
}

#content-wrapper
{
	padding: 5% 10% 5% 10%;
	display: flex;
	justify-content: center;
}

.content-slide
{
	opacity: 1;
	transition: opacity 0.2s;
	transition-delay: display 0.2s;
}

.content-slide-text
{
	padding: 50px;
	position: absolute;
	width: 1280px;
	height: 720px;
	
	color: white;
	text-shadow: 0px 2px black;
}

.content-slide-text h1
{
	margin: 0px;
}

#content-slides
{
	width: 1280px;
	height: 720px;
	overflow: hidden;
}

#content-slides-background
{
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 720px;
	background: rgb(20, 20, 20);
}

#content-slides-transition
{
	z-index: 1;
	position: absolute;
	width: 1280px;
	height: 720px;
	display: flex;
	flex-direction: row;
}

.content-slides-transition-block
{
	height: 100%;
	width: 33.4%;
	background: rgb(20, 20, 20);
	transition: transform 0.33s, opacity 0.33s;
}

.content-slides-transition-block-active
{
	transform: translate(0px, 0px);
	opacity: 1;
}

.content-slides-transition-block-inactive
{
	transform: translate(100px, 100px);
	opacity: 0;
}