.content-slide
{
	opacity: 1;
	transition: opacity 0.2s;
	transition-delay: display 0.2s;
	height: 100%;
	width: auto;
}

.content-slide .text
{
	padding: 50px;
	position: absolute;
	width: 1280px;
	height: 720px;
	color: white;
}

.content-slide .text .header
{
	padding: 10px 50px 10px 15px;
	width: fit-content;
	font-size: 30px;
	background: var(--content-color-dark-transparent);
}

.content-slide img
{
	height: 100%;
}

#content-slides
{
	height: calc(100vh - var(--header-height));
	width: auto;
	margin: auto;
	position: relative;
	overflow: hidden;
	user-select: none;
}

#content-slides-buttons
{
	width: 100%;
	height: 100px;
	z-index: 3;
	bottom: 0px;
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

#content-slides-buttons .element
{
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #ff5923;
	transition: all 0.2s;
}

#content-slides-buttons .inactive:hover
{
	transform: scale(1.3);
}

#content-slides-buttons .active
{
	width: 26px;
	height: 26px;
	border-radius: 13px;
	background-color: #fff601;
}

#content-slides-buttons .inactive
{
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: #ff5923;
}

#content-slides-transition div
{
	height: 100%;
	width: 33.4%;
	background: var(--content-color-dark);
	transition: transform 0.33s, opacity 0.33s;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content-slides-transition div img
{
	position: absolute;
	width: 400px;
}

#content-slides-transition
{
	user-select: none;
	pointer-events: none;
	z-index: 3;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#content-slides-transition .active
{
	transform: translate(0px, 0px);
	opacity: 1;
}

#content-slides-transition .inactive
{
	transform: translate(100px, 100px);
	opacity: 0;
}

#content-slides-controls
{
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
}

#content-slides-next
{
	user-select: auto;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 20%;
	height: 100%;
	opacity: 0;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,89,35,0.5) 100%);
	transition: all 0.2s;
}

#content-slides-next:hover
{
	opacity: 1;
}

#content-slides-previous
{
	user-select: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20%;
	height: 100%;
	opacity: 0;
	background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,89,35,0.5) 100%);
	transition: all 0.2s;
}

#content-slides-previous:hover
{
	opacity: 1;
}

#content-showcase
{
	user-select: none;
	pointer-events: none;
	padding: 20px 0px 50px 0px;
	max-width: 100%;
	height: fit-content;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#content-offers-header
{
	margin-bottom: 45px !important;
}

#content-showcase > section > h1
{
	color: white;
	transition: opacity 1.5s;
	opacity: 1;
	margin: 40px 0px 20px 0px;
	padding-left: 50px;
	font-size: 30px;
	opacity: 0;
}

#content-showcase > section > h1:after
{
	display: block;
	position: absolute;
	content: '';
	height: 3px;
	width: 0px;
	background-color: var(--content-color-orange);
	transition: width 0.7s ease-out;
	transition-delay: 0.2s;
	transform: translate(0px, 4px);
}

#content-showcase > section > h1:before
{
	content: '';
	display: block;
	position: absolute;
	transform: translate(-10px, 31px);
	width: 20px;
	height: 20px;
	opacity: 0px;
	border-radius: 10px;
	background-color: var(--content-color-orange);
	transition: transform 0.7s ease-out 0.2s, opacity 0.2s;
}

#content-showcase > section > h1.active:before
{
	transform: translate(340px , 30px);
	opacity: 1;
}

#content-showcase > section > h1.inactive:before
{
	transform: translate(-10px, 30px);
	opacity: 0;
}

#content-showcase > section > h1.active
{
	opacity: 1;
}

#content-showcase > section > h1.inactive
{
	opacity: 0;
}

#content-showcase > section > h1.active:after
{
	width: 350px;
}

#content-showcase > section > h1.inactive:after
{
	width: 0px;
}

#content-offers .elements
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}

.content-showcase.active
{
	opacity: 1;
	transform: translate(0px, 0px);
}

.content-showcase.active li
{
	opacity: 1;
	transform: translate(0px, 0px);
}

.content-showcase.inactive li
{
	opacity: 0;
	transform: translate(-50px, 0px);
}

.content-showcase.inactive
{
	opacity: 0;
	transform: translate(0px, 20px);
}

.content-showcase
{
	border-radius: 5px;
	text-align: justify;
	width: 250px;
	min-height: 350px;
	padding: 25px 13px 20px 13px;
	background-color: var(--content-color-dark);
	opacity: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: all 0.5s ease;
}

.content-showcase-image-wrapper
{
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
}

.content-showcase-image-wrapper img
{
	width: 90%;
	height: 90%;
}

.content-showcase hr
{
	margin: 10px 0px 0px 0px !important;
	width: 90%;
	border: 1px solid var(--content-color-orange);
}

.content-showcase h1
{
	text-align: center;
	color: white;
	font-size: 24px;
	margin: 0px;
}

.content-showcase ul
{
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: flex-start;
	flex-direction: column;
	padding-left: 110px;
}

.content-showcase li
{
	color: lightgrey;
	font-style: italic;
	font-size: 20px;
	line-height: 30px;
	margin: 0px;
	transition: all 0.4s;
	transition-delay: 0.2s;
	list-style-image: url('../images/showcase/check.gif');
	list-style: none;
}

.content-showcase li:before
{
	display: block;
	position: absolute;
	left: -25px;
	top: 7px;
	content: '';
	width: 13px;
	height: 13px;
	list-style: none;
	background-image: url("../images/showcase/check.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.content-showcase li img
{
	display: none;
	position: absolute;
	width: 17px;
	height: 17px;
	margin: 7px 0px 0px 15px;
}

.content-showcase p
{
	text-align: center;
	color: lightgrey;
	font-style: italic;
	font-size: 20px;
	line-height: 35px;
	padding: 10px 30px 0px 30px;
	margin: 0px;
}

#also-offer
{
	margin: 50px 0px 0px 0px !important;
}

#content-articles
{
	margin: 50px 0px 0px 0px;
	padding: 0px 100px 0px 20px;
}

#content-articles > .elements
{
	padding: 40px 20px 40px 80px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

#content-articles > .elements > article
{
	display: flex;
}

#content-articles > .elements > article.left
{
	justify-content: flex-start;
}

#content-articles > .elements > article.right
{
	justify-content: flex-end;
}

#content-articles > .elements > article > .wrapper
{
	border-radius: 5px;
	width: 1200px;
	height: fit-content;
	background-color: var(--content-color-dark-transparent);
	padding: 30px;
	color: white;
	
	transition: all 1.5s ease;
	opacity: 0;
	transform: translate(-100%, 0px) scale(0);
}

#content-articles > .elements > article.left > .wrapper
{
	transform: translate(-100%, 0px) scale(0);
}

#content-articles > .elements > article.right > .wrapper
{
	transform: translate(100%, 0px) scale(0);
}

#content-articles > .elements > article.inactive.left > .wrapper
{
	transform: translate(-100%, 0px) scale(1);
}

#content-articles > .elements > article.inactive.right > .wrapper
{
	transform: translate(100%, 0px) scale(1);
}

#content-articles > .elements > article.active > .wrapper
{
	opacity: 1;
	transform: translate(0px, 0px);
}

#content-articles > .elements > article.inactive > .wrapper
{
	opacity: 0;
}

#content-articles > .elements > article img
{
	width: 350px;
	aspect-ratio: 16/9;
	padding: 5px;
	border-radius: 5px;
}

#content-articles > .elements > article p
{
	margin: 10px 0px 0px 15px;
	text-align: justify;
	font-size: 20px;
}

#content-articles > .elements > article h1
{
	font-size: 25px;
	margin: 0px 0px 5px 0px;
}

#content-articles > .elements > article hr
{
	border: 1px solid var(--content-color-orange);
}

#content-articles > .elements > article .text
{
	margin-top: 25px;
	display: flex;
	flex-direction: row;
}